/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-1{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 4rem;
    padding: 5%;
}

.grid-1 > div{
    border: 1px solid rgba(153, 153, 153, 0.4);
    border-radius: 0.5rem;
}

.grid-2{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2%;
    padding: 2%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #262626;
    color: #7A7C80;

}

#header{
  background-color: rgba(153, 153, 153, 0.4);
    height: 1.9rem;
}

.header{
    display: grid;
    grid-auto-flow: column;
    padding-left: 17%;
    padding-right: 40%; 
}

.header > a{
  text-align: center;
  border-right: 1px solid #262626;
  color:#000000;
  display: block;
  text-decoration: none;
}
.header > a:hover{
    background-color: rgba(153, 153, 153, 1.0);
}

#active{
    background-color: rgba(153, 153, 153, 0.6);
}

#title{
    height: 10rem;
}

#container{
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin-left: 17%;
    margin-right: 17%; 
}

.project{
    padding:1rem;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
