<style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            color: #495057;
            display: flex;
        }

        #left-column {
            background-color: #f0f5f5; /*#99c9ff; #007bff;*/
/*            padding: 2em;*/
            text-align: center;
            color: #fff;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 25%;
            box-sizing: border-box;
/*            display: flex;  */
/*            flex-direction: column;*/
/*            align-items: center;*/
/*            overflow: hidden;*/
        }

        #left-column img {
            max-width: 300px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        #right-column {
            margin-left: 30%;
            margin-top: 1%;
            max-width: 60%;
/*            margin: 2em auto;*/
            padding: 1em;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            overflow-y: scroll;
        }

        p {
            line-height: 1.4;
            font-size: 1.2em;
            padding-left: 5%;
            padding-right: 5%;
        }

        #right-column h1 {
            padding-top: 5%;
            padding-left: 2%;
        }

        .social-buttons {
            display: flex;
            justify-content: center;
            margin-top: 1em;
        }

        .social-buttons a {
            display: inline-block;
            margin: 0 1em;
            padding: 0.5em 1em;
            text-decoration: none;
            color: #fff;
            background-color: #28a745;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .social-buttons a:hover {
            background-color: #218838;
        }

        nav {
            margin-top: 5em;
        }

        nav a {
            display: block;
            padding: 0.2em 0;
            text-decoration: none;
            color: #fff;
            font-size: 1.5em;
            background-color: #85adad;
            transition: background-color 0.3s;
            width: 55%;
            margin-left: 45%;
            margin-top: -0.7em;
        }

        nav .current {
            display: block;
            padding: 0.2em 0;
            text-decoration: none;
            color: #fff;
            font-size: 1.5em;
            background-color: #339966;
            transition: background-color 0.3s;
            width: 60%;
            margin-left: 40%;
            margin-top: -0.7em;
        }        

        footer {
            text-align: center;
            padding: 1em;
            background-color: #007bff;
            color: #fff;
            width: 100%;
            box-sizing: border-box;
        }
    </style>