/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-1{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 4rem;
    padding: 5%;
}

.grid-1 > div{
    border: 1px solid rgba(153, 153, 153, 0.4);
    border-radius: 0.5rem;
}

.grid-2{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2%;
    padding: 2%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 153, 51, 0.7);
    color: rgb(80 , 80, 80);

}

#header{
  background-color: rgba(255, 153, 51, 1.0);
    height: 3rem;
}

.header{
    display: grid;
    grid-auto-flow: column;
    padding-left: 17%;
    padding-right: 40%; 
}

.header > a{
  text-align: center;
  border-left: 1px solid rgba(255, 153, 51, 1.0);
  border-right: 1px solid rgba(255, 153, 51, 1.0);
  color:rgb(255 , 255, 200);
  display: block;
  text-decoration: none;
  padding-top: 10%;
}
.header > a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#active{
    background-color: rgba(255, 255, 255, 0.3);
}

#title{
    height: 4rem;
}

#container{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    margin-left: 5%;
    margin-right: 5%; 
}

.project{
    padding:1rem;
}

img{
    height: auto;
}

/* media queres */
@media(max-width:780px){
    .header{
        padding-left: 0%;
        padding-right: 0%; 
    }
}
